<ion-header>
  <ion-toolbar>
    <ion-title>
      Mark Noble <ion-icon name="happy"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-avatar class="avatar">
      <img width="256" img src ="assets/icon/IMG_3687.JPG" alt="Mark-Avatar"/>
    </ion-avatar>
    About me!
  </div>

  <ion-list>
    <ion-item>
      <ion-label>Sophmore at Arizona State University</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Computer Science Major</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Github: noblm123</ion-label>
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <h2>Skills</h2>
    <ion-chip>
      <ion-label>Java</ion-label>
    </ion-chip>

    <ion-chip>
      <ion-label>JavaScript <ion-icon name="logo-javascript"></ion-icon> </ion-label>
    </ion-chip>

    <ion-chip>
      <ion-label>HTML</ion-label>
    </ion-chip>

    <ion-chip>
      <ion-label>CSS</ion-label>
    </ion-chip>

  </div>

  <ion-button expand = "full" color="success" (click)="clickMe()">Click Me!</ion-button>
  <ion-button expand = "full" color="danger" (toast)="presentToast()">Toast?</ion-button>
</ion-content>